<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="pl"
      th:replace="~{layout}">
<head>
    <title>Mój Pulpit - MeetHub</title>
</head>
<body>
<div th:fragment="content">
    <!-- Welcome Message -->
    <div class="row mb-4">
        <div class="col">
        <div class="col">
            <h1 class="display-5">
                <i class="bi bi-house-door me-2"></i>
                Witaj, <span sec:authentication="name"></span>!
            </h1>
        </div>
    </div>


    <!-- Quick Actions -->
    <div class="row mb-5">
        <div class="col">
            <div class="d-flex gap-3 flex-wrap">
                <a th:href="@{/meetings/create}" class="btn btn-primary btn-lg">
                    <i class="bi bi-plus-circle me-2"></i>Utwórz spotkanie
                </a>
                <a th:href="@{/meetings}" class="btn btn-outline-primary btn-lg">
                    <i class="bi bi-search me-2"></i>Przeglądaj spotkania
                </a>

            </div>
        </div>
    </div>


</div>
</div>
</body>
</html>